<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>{{courseName}}</h2>

  <hr/>
  <my-course></my-course>
  <hr/>
  <my-badge caption="Inbox" count="33"></my-badge>
  <my-badge caption="Sent" count="11"></my-badge>
  <my-badge caption="Spam" count="344"></my-badge>

  <hr/>
<div class="container">
  <div class="row">
      <cts-card caption="React"></cts-card>
      <cts-card caption="EmberJS"></cts-card>
      <cts-card caption="CanJS"></cts-card>
  </div>
</div>

  
</div>


